<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RP Games</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&diRPlay=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/webindex.js"></script>

</head>

<body>
    <%- include('partials/navbar') %>

    <!-- Banner -->
    <section class="banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Introducing RP Games</h1>
                    <p class="lead">Welcome to RP Games, your ultimate destination for the BEST immersive gaming
                        experiences! You can find a vast colelction of games, cutting edge features,
                        and a vibrant community, all designed to elevate your gaming adventure to new heights. Get ready
                        to explore a world where passion for gaming meets innovation and excitement!
                    </p>
                    <a href="/store" class="btn btn-primary">Shop for games</a>
                </div>
                <div class="col-lg-6">
                    <!-- need to include an image -->
                    <img src="./images/Web images/gamestore background.png" alt="gamestore background"
                        class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 feature-item">
                    <div class="feature-image-container">
                        <img src="./images/Web images/Gaming-Development-Awards.png" alt="Feature 1"
                            class="img-fluid feature-image">
                    </div>
                    <h3>Gaming Excellence Award 2024</h3>
                    <p>The Gaming Excellence Award celebrates RP Games as a premier gaming platform, recognizing its
                        commitment to delivering top-notch gaming experiences,
                        extensive game library, and user-friendly interface. This award acknowledges RP Games as a go-to
                        destination for gamers seeking unparalleled gaming excellence.
                    </p>
                </div>
                <div class="col-lg-4 feature-item">
                    <div class="feature-image-container">
                        <img src="./images/Web images/innovation award.png" alt="Feature 2"
                            class="img-fluid feature-image">
                    </div>
                    <h3>Innovation Leader Award</h3>
                    <p>The Innovation Leader Award highlights RP Games as a trailblazer ion the gaming industry, pushing
                        the boundaries of technology and
                        introducing innovative features that enhance the gaming experiences. This award recognizes the
                        platform's commitment to staying ahead of the curve and continuously striving for
                        groundbreaking advancements.</p>
                </div>
                <div class="col-lg-4 feature-item">
                    <div class="feature-image-container">
                        <img src="./images/Web images/community.png" alt="Feature 3" class="img-fluid feature-image">
                    </div>
                    <h3>Community Hub Award</h3>
                    <p>The Community Hub Award celebrates RP Games as a thriving community for gamers worldwide. This
                        award recognizes the platform's commitment to fostering an inclusive
                        and vibrant community, providing a RPace for gamers to connect, share experiences, and engage in
                        meaningful discussions.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- specifications -->
    <div class="section-container">
        <h2 class="section-header">Why Choose Us?</h2>

        <div class="section-content">
            <div class="scroll-animation">
                <h3>Discover Limitless Possibilities</h3>
                <p>Dive into a diverse and ever-expanding library of games, ranging from adrenaline-pumping action to
                    mind-bending puzzles and everything in between. With RP Games, there's always something for every
                    type of gamer. Explore our extensive catalog and unleash your gaming potential.</p>
            </div>

            <div class="scroll-animation">
                <h3>Connect with a Thriving Community</h3>
                <p>Immerse yourself in a passionate and inclusive gaming community. Connect with fellow gamers, share
                    your experiences, and join lively discussions about the latest trends, strategies, and updates. RP
                    Games provides a platform to meet like-minded individuals and forge lasting friendships.</p>
            </div>

            <div class="scroll-animation">
                <h3>Seamless Gameplay Experience</h3>
                <p>Experience gaming like never before with our sleek and intuitive interface. RP Games offers seamless
                    gameplay, ensuring you can focus on what truly matters: having fun. Our user-friendly design keeps
                    you engaged and immersed in the action, without any distractions.</p>
            </div>

            <div class="scroll-animation">
                <h3>Stay Updated with the Latest</h3>
                <p>Stay ahead of the curve with RP Games' real-time updates, news, and releases. Discover the hottest
                    games, upcoming releases, and exclusive content before anyone else. We keep you informed and ensure
                    you never miss out on the latest gaming buzz.</p>
            </div>

            <div class="scroll-animation">
                <h3>Personalize Your Gaming Journey</h3>
                <p>Make RP Games truly your own with our personalized features. Customize your profile, showcase your
                    gaming achievements, and build a collection of favorites. Tailor your gaming journey to match your
                    unique style and preferences.</p>
            </div>

            <div class="scroll-animation">
                <h3>Compete and Conquer</h3>
                <p>If you're a fan of friendly competition, RP Games has got you covered. Challenge other gamers,
                    participate in tournaments, and climb the leaderboards to prove your skills. Whether you're a casual
                    player or an aspiring pro, there's always a challenge waiting for you.</p>
            </div>

            <div class="scroll-animation">
                <h3>Embrace Innovation</h3>
                <p>At RP Games, we embrace innovation and technology to deliver an unforgettable gaming experience.
                    Explore cutting-edge features like virtual reality (VR) and augmented reality (AR) to take your
                    gaming to the next level. Get ready to immerse yourself in a world where imagination knows no
                    boundaries.</p>
            </div>
        </div>
    </div>

    <!-- Featured -->
    <section class="Featured">
        <div class="container">
            <h2>Featured On</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>E3 Expo</h3>
                            <p>"Meet the Platform of Choice: RP Games Dominates the Gaming Landscape"</p>
                            <a href="https://www.e3expo.com/" class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>Gamespot (gamespot.com)</h3>
                            <p>"RP Games: The Ultimate Destination for Gamers Seeking Limitless Adventures"</p>
                            <a href="https://www.gamespot.com/" class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>Ninja (Tyler Blevins)</h3>
                            <p>"Level up with Ninja on RP Games, the ultimate platform for thrilling gaming
                                experiences."</p>
                            <a href="https://www.youtube.com/channel/UCAW-NpUFkMyCNrvRSSGIvDQ"
                                class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center">
            <p>&copy; 2024 RP Games. All rights reserved.</p>
        </div>
    </footer>

    <script src="/js/client.js"></script>
    <script src="./js/login.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

</body>

</html>