/* Banner */
.banner {
  background-color: #f8f9fa;
  padding: 50px 0;
  animation: fadeIn 1s ease;
}

/* Features */
.features {
  padding: 50px 0;
}

.features .col-lg-4 {
  animation: slideInUp 1s ease;
}

/* Section */
.section-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px;
  text-align: center;
}

.section-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-content {
  padding-top: 30px;
  overflow: hidden;
}

.scroll-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Pricing */
.pricing {
  padding: 50px 0;
  animation: fadeIn 1s ease;
}

.pricing .card {
  animation: flipInX 1s ease;
}

/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  animation: fadeInUp 1s ease;
}

/* Add a class for the container to ensure consistent image size */
.feature-image-container {
  height: 200px; /* Set your desired fixed height here */
  overflow: hidden;
}

/* Make sure the images maintain aspect ratio */
.feature-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
  